<!DOCTYPE html>

<ion-view title="Weather" cache-view="false" ng-controller="googlemapoutput">
     <ion-header-bar class="bar-positive">
        <h1 class="title">Travel Guide</h1>
           <button class="button button-icon" ng-click="goToHome()">
        <i class="icon ion-ios-home-outline"></i>
      </button> 
        </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <form>  
            <div class="list">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
        
      <input  placeholder="Enter a location"  type="search" size="150" id="searchLocation"/>
         
    </label>
        <button type="button" class="button button-icon" ng-click="getWeather()">
    <i class="icon ion-search placeholder-icon" ></i>
     
        </button>
     
<!-- <button type="button"  ng_click="Accomdation()" >Find Accomodation</button>-->
  </div>              
</div>
<!--
            <label class="item item-input">
             <input type="search" placeholder="Enter a place" id="searchLocation">
                <i class="icon ion-search placeholder-icon" ng-click="getWeather()"></i>
            </label>
-->
             
<!--            <button class="button button-stable button-block button-shape" >Check Weather</button>-->
        </form>
        <div class="row hide" id="currentWeather" style="width='100%' overflow='100'"></div>
         
    </ion-content>
</ion-view>
